header {
    background-color: darkblue;
    color: antiquewhite;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid yellowgreen;
    padding: 26px;
}

main {
    background-color: antiquewhite;
    color: darkblue;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    text-align: center;
}

article {
    display: flex;
}

img {
    height: 160px;
    width: 160px;
}

.autor {
    font-weight: bold;
}